<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097758372645-3anq52gtq24d54k3j333b3rcqich83nl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097758372645-3anq52gtq24d54k3j333b3rcqich83nl</string>
	<key>API_KEY</key>
	<string>AIzaSyBRVDcG0B1s1UJyMQ4KthaD5XNVxrC-gp0</string>
	<key>GCM_SENDER_ID</key>
	<string>1097758372645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noknokretail.nokNok</string>
	<key>PROJECT_ID</key>
	<string>noknok-c638d</string>
	<key>STORAGE_BUCKET</key>
	<string>noknok-c638d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097758372645:ios:6a60d6bbdfbbf2ef7da0cc</string>
	<key>DATABASE_URL</key>
	<string>https://noknok-c638d.firebaseio.com</string>
</dict>
</plist>